.form {
  width: 100%;
  &__head {
    width: 100%;
    text-transform: uppercase;
    font-size: 3rem;
    margin: none;
  }

  &__field {
    width: 50%;
    margin: 2rem 0;
    @media screen and (max-width: $res-small) {
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    padding: 1rem 2rem;
    height: 3.5rem;
    border: 1px solid grey;
    &:focus {
      box-shadow: 0 0 1px 1px grey;
    }
    &:invalid {
      border: 1px solid $color-tet;
    }
  }
  &__submit {
    padding: 1rem 3rem;
    border: none;
    background-color: $color-grey-darker;
    color: white;
    font-size: 700;
    text-transform: uppercase;
  }
  &__link {
    font-size: 1.5rem;
    color: grey;
    text-decoration: none;
    margin-left: 2rem;
  }
}
